h1{
 color:PaleVioletRed;
 text-align:center;
 font-family:Brush Script MT,cursive;
 font-size:500px;
}

p{ ul{
color:PaleVioletRed;
text-align:right;
font-family:Courier New, monospace;
font-size:400px;
ul}
}

body {
background-image: url("https://wallpapers.com/images/hd/bakery-ingredients-flat-lay-bvoyzif0cxt6437c.jpg");
}
