h1{
color: PaleVioletRed;
text-align: center;
font-family: verdana;
font-size: 300%;
}

p{ ul{
color: PaleVioletRed;
text-align: right;
font-size: 170%;}
}

body {
  background-image: url("https://img.freepik.com/free-photo/ingredients-sweet-apple-cupcake-muffins-sugar-butter-flour-honey-cinnamon-eggs-stone-light-background_127032-2718.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}
