h1{
text-align:center;
 color:PaleVioletRed;
 font-family:Brush Script MT,cursive;
 font-size:500%;"
}

p{
text-align:right;
color:PaleVioletRed;
font-family:Courier New, monospace;
font-size:400%
}

body {
background-image: url("https://img.freepik.com/premium-photo/high-angle-view-christmas-decoration-yellow-background_1048944-15119078.jpg");
}
